# Marketing Strategy Analysis

The objective of this project is to use data for more effective storytelling in tackling a business problem. I will apply the <b>4D Audience Framework</b> outlined by Brent Dykes from his book <b>Effective Data Storytelling</b>. 

The application of the 4D Audience Framework would be perfect in better understanding a problem and solving it using data science.

Programming Script and Report

Table of Contents

1) <b>Introduction</b> <br>
2) <b>Data Loading and Quality</b> <br>
3) <b>Feature Additions and Engineering</b> <br>
4) <b>Exploratory Data Analysis and Statsitical Analysis</b> <br>
5) <b>Final Recommendations</b> <br>

# 1. Introduction

Lets set the sceniaro.
You are a data analyst at Aviator.io. The company specializes in delivering manufacturing parts to its client, with the motto, "We will help you build."
 
<u><h3>Problem Statement</h3><u>

The company has low profit margins and want to improve their metrics overall before the next meeting with the venture capitalists.

<u><h3>Outcome</h3><u>

After further discussion in all hands meeting, the team decides to find a way to cut customer acqusition costs by 10% 

You being the smart data analyst that you are, take a moment to understand what are the different components that make up acqusition cost. You do a quick google search and turns out that marketing budget is a big part of the high cost.

Before you do any analysis, you ask the team a series of questions to further understand the situation.

Q) How have we been marketing our services to our customers?<br>
A) We run our marketing campaigns with hopes of reaching our clients. <br>

Q) Do we focus on a specific method of marketing for our clients?<br>
A) No, we just run the same campaign for all of our customers until they close.

Here is where you begin to understand the inefficiency within the company, before you jump to any methodologies of solving this issue, lets do a quick examination of the data to see what tools we have at our disposal.

# 2. Data Loading and Quality Checks

In [26]:
import pandas as pd
import numpy as np
import seaborn as sns
import scipy.stats
import warnings
warnings.filterwarnings("ignore")

In [33]:
df = pd.read_csv(r'C:\Users\ahmed\Desktop\Portfolio files\Python Projects\Marketing Project\Campaign-Data.csv')

In [34]:
df

,Client ID,Client Type,Number of Customers,Montly Target,Zip Code,Calendardate,Amount Collected,Unit Sold,Campaign (Email),Campaign (Flyer),Campaign (Phone),Sales Contact 1,Sales Contact 2,Sales Contact 3,Sales Contact 4,Sales Contact 5,Number of Competition
0,ID-987275,Medium Facility,2800,125,1003,16-01-2014,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Low
1,ID-987275,Medium Facility,2800,125,1003,16-02-2014,3409460,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,322500.0,Low
2,ID-987275,Medium Facility,2800,125,1003,18-03-2014,10228384,75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Low
3,ID-987275,Medium Facility,2800,125,1003,18-04-2014,17047304,123,0.0,0.0,0.0,0.0,3547500.0,1290000.0,0.0,0.0,Low
4,ID-987275,Medium Facility,2800,125,1003,19-05-2014,23866224,171,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Low
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2971,ID-987463,Small Facility,800,20,1003,16-08-2015,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Low
2972,ID-987463,Small Facility,800,20,1003,16-09-2015,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,High
2973,ID-987463,Small Facility,800,20,1003,16-10-2015,0,0,0.0,0.0,0.0,0.0,0.0,2580000.0,0.0,0.0,High
2974,ID-987463,Small Facility,800,20,1003,16-11-2015,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,High
2975,ID-987463,Small Facility,800,20,1003,17-12-2015,3409460,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,High

<b>Relevant Data Description</b>

- Client ID: unique ID number allocated to each client
- Client Type: Represents the account type (Small, Medium, Large, Private)
- Monthly Target: Target of unit sold depending on the account type
- Amount Collected: How much money was generated from closing the account
- Unit Sold: How many units were sold to facility?
- Campaign (Email): How many money spent on an email campaign to the client?
- Campaign (Flyer): How much money spent on a flyer campaign to the client?
- Campaign (Phone): How much money spent on a phone campaign to the clinet?
- Sales Contact 1-5: How much money spent on each client contact?
- Number of Competition: how much competition are we facing in when thinking about this client type?

<b> Real problem solving </b>
You can tell that the marketing company uses email, flyers, phone calls and a number of sales contacts to connect to the client and close a sale. They dont have an organized method of marketing to their different client types.

You go back to the team and speak with them.

<b>You</b> - Hey, if I found a trend which will help us focus our marketing efforts to our different client types, do you think that will help lower our overall CAC?

<b>Team</b> - Absolutely! If we can find a better way to handle our marketing campaigns with our different client types, we wont need to waste money where it is not important! Do you have an idea that can help us with this?

<b>You</b> - Yeah. Here is what I am thinking. Since we have the budget for for our different client spending, client types and and revenues from each closed sale, I can explore cleaning the data and drive a regression model which will help us identify the best ways we can market our services to our different kinds of clients. Think of it as "return on marketing investment" for different client types. 

<b>Team</b> - Woah. That sounds amazing and would be super helpful in decreasing the cost.

<b>You</b> - After I drive these findings, we can test the strategy over the span of 6 weeks to see if we managed to over our overall CAC. (I will leave the strategy testing to the end of the project) 

<u><h3>Action</h3><u>

<u>Generate more targeted marketing strategies.<u>
    
    
The two questions that you want to investigate are 

- What is the impact of each marketing strategy and sales visit on Sales (Amount collected)?<br>
- Is the same strategy valid for all different client types?

# 3.  Feature Additions and Engineering

In [35]:
df.dtypes

Client ID                 object
Client Type               object
Number of Customers        int64
Montly Target              int64
Zip Code                   int64
Calendardate              object
Amount Collected           int64
Unit Sold                  int64
Campaign (Email)         float64
Campaign (Flyer)         float64
Campaign (Phone)         float64
Sales Contact 1          float64
Sales Contact 2          float64
Sales Contact 3          float64
Sales Contact 4          float64
Sales Contact 5          float64
Number of Competition     object
dtype: object

In [36]:
### You observe that the CalendarDate field is an object. Lets change it into  datetime and create month and year fields too
df['Calendardate']=pd.to_datetime(df['Calendardate'])
df['Calender_Month']=df['Calendardate'].dt.month
df['Calender_Year']=df['Calendardate'].dt.year

# 4. Exploratory Data Analysis and Statistical Analysis

We can have a detailed exploration that can be added to this section, but since we only need to answer three questions:

<b> 4.1 Exploring and Understanding basics data </b>
- Distribution of data across different accounts <br>
- Difference of Sales in Account Types (Using Categorical Mean) <br>

<b> 4.2 Statistical Analysis - Answering the Questions</b>
1. Impact of Marketing Strategy on Sales (Using Correlation, Regression and Decision Tree)
2. Impact of Competition on Sales
3. How different types of client can have different strategies (Broken down Question 1 and Question 2 based on Account Type)

# 4.2 Impact of Marketing Strategy on Sales

Understanding of distrubtions

In [23]:
df['Client Type'].value_counts(normalize=True)

Large Facility      0.459677
Small Facility      0.282258
Medium Facility     0.169355
Private Facility    0.088710
Name: Client Type, dtype: float64

In [24]:
pd.crosstab(df['Number of Competition'], df['Client Type'], margins = True, normalize = True)

Client Type,Large Facility,Medium Facility,Private Facility,Small Facility,All
Number of Competition,,,,,
High,0.076613,0.028226,0.014785,0.047043,0.166667
Low,0.383065,0.141129,0.073925,0.235215,0.833333
All,0.459677,0.169355,0.088710,0.282258,1.000000

In [25]:
round(df.groupby('Number of Competition').mean(numeric_only=True),2)

,Number of Customers,Montly Target,Zip Code,Amount Collected,Unit Sold,Campaign (Email),Campaign (Flyer),Campaign (Phone),Sales Contact 1,Sales Contact 2,Sales Contact 3,Sales Contact 4,Sales Contact 5,Calender_Month,Calender_Year
Number of Competition,,,,,,,,,,,,,,,
High,1456.94,75.08,1003.0,29747888.39,213.13,105398.94,994046.72,45198.04,146945.56,2685332.66,1786754.03,72172.38,8452.62,10.5,2015.0
Low,1456.94,75.08,1003.0,14455700.99,103.13,150862.17,623692.98,26693.30,128219.76,1890916.33,1883634.07,70481.85,15864.92,5.7,2014.4

In [8]:
round(df.groupby('Client Type').mean(numeric_only= True),2)

,Number of Customers,Montly Target,Zip Code,Amount Collected,Unit Sold,Campaign (Email),Campaign (Flyer),Campaign (Phone),Sales Contact 1,Sales Contact 2,Sales Contact 3,Sales Contact 4,Sales Contact 5,Calender_Month,Calender_Year
Client Type,,,,,,,,,,,,,,,
Large Facility,1380.84,71.58,1003.0,19998804.93,143.10,142273.61,819205.63,45595.44,133667.76,2034013.16,2017039.47,119287.28,16266.45,6.5,2014.5
Medium Facility,3940.76,202.86,1003.0,40759967.67,290.58,437217.10,1552603.27,49176.85,398645.83,4822782.74,4698645.83,85104.17,33273.81,6.5,2014.5
Private Facility,400.73,20.45,1003.0,5030245.94,35.78,5183.72,227291.88,5522.47,1221.59,637670.45,443437.50,3664.77,12215.91,6.5,2014.5
Small Facility,422.51,21.29,1003.0,1637758.72,11.69,11975.99,91208.75,0.00,8062.50,761714.29,372794.64,4223.21,1535.71,6.5,2014.5

<b>Before diving into correlation analysis a few things to be mentioned</b>
- The majority of our client type based on the number of clients is Large facility, followed by low, medium and lastly private.
- Most of our clients are located in the low number of competition.
- We also notice that the Sales for high number of competiton is almost double the low number of competition, even though most of our clients are in the low number of competition.
- The medium clients, even tho on the 3rd frequency of clients, they are the most revenue generating client type, buying over double than the large facility clients.

In [9]:
df.corr(numeric_only=True)[['Amount Collected']]

                     Amount Collected
Number of Customers          0.607496
Montly Target                0.608204
Zip Code                          NaN
Amount Collected             1.000000
Unit Sold                    0.997515
Campaign (Email)             0.248235
Campaign (Flyer)             0.444337
Campaign (Phone)             0.034858
Sales Contact 1              0.277478
Sales Contact 2              0.552112
Sales Contact 3              0.357887
Sales Contact 4              0.236165
Sales Contact 5              0.095795
Calender_Month               0.139425
Calender_Year                0.286194

<font size="+1">Correlation Analysis</font>

Lets find some correlations between all impacting variables and amount collected

In [11]:
cm = sns.light_palette("blue", as_cmap =True)
correlation_analysis = pd.DataFrame(df[['Amount Collected','Campaign (Email)', 'Campaign (Flyer)', 
                                        'Campaign (Phone)','Sales Contact 1', 'Sales Contact 2', 
                                        'Sales Contact 3','Sales Contact 4', 
                                        'Sales Contact 5']].corr()['Amount Collected']).reset_index()
correlation_analysis.columns=['Impacting Variable', 'Degree of Linear Impact (Correlation)']
correlation_analysis = correlation_analysis[correlation_analysis['Impacting Variable']!='Amount Collected']
correlation_analysis = correlation_analysis.sort_values('Degree of Linear Impact (Correlation)',ascending=False)
correlation_analysis.style.background_gradient(cmap=cm).set_precision(2)

This visual shows that a holistic relationship between amount collected and the campaign methods, which the highest correlation being Sales Contact 2. 
Now we investigate the correlation between those different campaign types based on the account type to devise a more targetted approach.

 <font size="+1">Market Strategy Impact on Sales (On different Account Types).</font>

In [12]:
cm = sns.light_palette("blue", as_cmap =True)
correlation_analysis = pd.DataFrame(df.groupby('Client Type')[['Amount Collected','Campaign (Email)', 'Campaign (Flyer)', 
                                        'Campaign (Phone)','Sales Contact 1', 'Sales Contact 2', 
                                        'Sales Contact 3','Sales Contact 4', 
                                        'Sales Contact 5']].corr()['Amount Collected']).reset_index()
correlation_analysis=correlation_analysis.sort_values(['Client Type','Amount Collected'],ascending=False)
correlation_analysis.columns=['Acc Type','Variable Impact on Sales','Impact']
correlation_analysis=correlation_analysis[correlation_analysis['Variable Impact on Sales']!='Amount Collected'].reset_index(drop=True)
correlation_analysis.style.background_gradient(cmap=cm).set_precision(2)

 <font size="+1">Regression Analysis (Market Sales and Strategies).</font>

In [13]:
import statsmodels.api as sm
import statsmodels.formula.api as smf
df.columns=[mystring.replace(" ", "_") for mystring in df.columns]
df.columns=[mystring.replace("(", "") for mystring in df.columns]
df.columns=[mystring.replace(")", "") for mystring in df.columns]
results = smf.ols('Amount_Collected ~ Campaign_Email+Campaign_Flyer+Campaign_Phone+\
       Sales_Contact_1 + Sales_Contact_2 + Sales_Contact_3+Sales_Contact_4 + Sales_Contact_5',data=df).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:       Amount_Collected   R-squared:                       0.480
Model:                            OLS   Adj. R-squared:                  0.478
Method:                 Least Squares   F-statistic:                     342.1
Date:                Fri, 14 Oct 2022   Prob (F-statistic):               0.00
Time:                        08:18:28   Log-Likelihood:                -54512.
No. Observations:                2976   AIC:                         1.090e+05
Df Residuals:                    2967   BIC:                         1.091e+05
Df Model:                           8
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept        1.481e+06   5.12e+05      2.891      0.004    4.77e+05    2.49e+06
Campaign_Email      0.7932      0.597      1.329      0.184      -0.377       1.963
Campaign_Flyer      3.3376      0.260     12.831      0.000       2.828       3.848
Campaign_Phone      0.0734      1.053      0.070      0.944      -1.991       2.137
Sales_Contact_1     4.2368      0.415     10.207      0.000       3.423       5.051
Sales_Contact_2     3.6382      0.129     28.155      0.000       3.385       3.892
Sales_Contact_3     2.3432      0.131     17.925      0.000       2.087       2.600
Sales_Contact_4    10.9478      1.060     10.331      0.000       8.870      13.026
Sales_Contact_5     3.5078      4.549      0.771      0.441      -5.412      12.428
==============================================================================
Omnibus:                     1099.749   Durbin-Watson:                   0.624
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             7733.226
Skew:                           1.578   Prob(JB):                         0.00
Kurtosis:                      10.239   Cond. No.                     5.89e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.89e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

In [14]:
df1 = pd.read_html(results.summary().tables[1].as_html(),header=0,index_col=0)[0]
df1 =df1.reset_index()
df1 =df1[df1['P>|t|']<0.05][['index','coef']]
df1

             index          coef
0        Intercept  1.481000e+06
2   Campaign_Flyer  3.337600e+00
4  Sales_Contact_1  4.236800e+00
5  Sales_Contact_2  3.638200e+00
6  Sales_Contact_3  2.343200e+00
7  Sales_Contact_4  1.094780e+01

In [15]:
consolidated_summary = pd.DataFrame()
for acctype in list(set(list(df['Client_Type']))):
    print(acctype)
    temp_df = df[df['Client_Type'] == acctype].copy()
    results = smf.ols('Amount_Collected ~ Campaign_Email+Campaign_Flyer+Campaign_Phone+\
       Sales_Contact_1 + Sales_Contact_2 + Sales_Contact_3+Sales_Contact_4 + Sales_Contact_5', data=temp_df).fit()
    df1 = pd.read_html(results.summary().tables[1].as_html(), header = 0, index_col = 0)[0].reset_index()
    df1=df1[df1['P>|t|']<0.05][['index','coef']]
    df1.columns=['Variable','Coefficent (Impact)']
    df1['Account Type']=acctype
    df1=df1.sort_values('Coefficent (Impact)',ascending=False)
    df1=df1[df1['Variable']!='Intercept']
    consolidated_summary=consolidated_summary.append(df1)
    print(results.summary())

Large Facility
                            OLS Regression Results
==============================================================================
Dep. Variable:       Amount_Collected   R-squared:                       0.371
Model:                            OLS   Adj. R-squared:                  0.367
Method:                 Least Squares   F-statistic:                     100.2
Date:                Fri, 14 Oct 2022   Prob (F-statistic):          4.64e-131
Time:                        08:18:29   Log-Likelihood:                -25075.
No. Observations:                1368   AIC:                         5.017e+04
Df Residuals:                    1359   BIC:                         5.021e+04
Df Model:                           8
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept        2.812e+06   9.29e+05      3.026      0.003    9.89e+05    4.63e+06
Campaign_Email      0.7886      0.936      0.842      0.400      -1.048       2.625
Campaign_Flyer      2.7204      0.352      7.739      0.000       2.031       3.410
Campaign_Phone     -3.5361      1.333     -2.653      0.008      -6.151      -0.921
Sales_Contact_1    11.6731      1.246      9.368      0.000       9.229      14.117
Sales_Contact_2     4.0031      0.239     16.718      0.000       3.533       4.473
Sales_Contact_3     2.0316      0.246      8.266      0.000       1.549       2.514
Sales_Contact_4    10.6145      1.260      8.423      0.000       8.143      13.086
Sales_Contact_5    -3.6385      6.703     -0.543      0.587     -16.789       9.512
==============================================================================
Omnibus:                      334.998   Durbin-Watson:                   0.655
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1353.896
Skew:                           1.121   Prob(JB):                    1.01e-294
Kurtosis:                       7.327   Cond. No.                     6.22e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 6.22e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
Medium Facility
                            OLS Regression Results
==============================================================================
Dep. Variable:       Amount_Collected   R-squared:                       0.437
Model:                            OLS   Adj. R-squared:                  0.428
Method:                 Least Squares   F-statistic:                     48.00
Date:                Fri, 14 Oct 2022   Prob (F-statistic):           4.13e-57
Time:                        08:18:29   Log-Likelihood:                -9461.9
No. Observations:                 504   AIC:                         1.894e+04
Df Residuals:                     495   BIC:                         1.898e+04
Df Model:                           8
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept        5.682e+06   2.53e+06      2.241      0.025    7.01e+05    1.07e+07
Campaign_Email      1.1260      1.287      0.875      0.382      -1.403       3.655
Campaign_Flyer      4.1059      0.702      5.851      0.000       2.727       5.485
Campaign_Phone      2.3077      3.014      0.766      0.444      -3.615       8.230
Sales_Contact_1     3.1365      0.732      4.284      0.000       1.698       4.575
Sales_Contact_2     3.5778      0.305     11.717      0.000       2.978       4.178
Sales_Contact_3     2.1174      0.295      7.168      0.000       1.537       2.698
Sales_Contact_4    -7.4136      4.497     -1.649      0.100     -16.250       1.422
Sales_Contact_5     8.2368     10.845      0.760      0.448     -13.071      29.544
==============================================================================
Omnibus:                      103.101   Durbin-Watson:                   0.592
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              197.732
Skew:                           1.144   Prob(JB):                     1.16e-43
Kurtosis:                       5.045   Cond. No.                     1.44e+07
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.44e+07. This might indicate that there are
strong multicollinearity or other numerical problems.
Small Facility
                            OLS Regression Results
==============================================================================
Dep. Variable:       Amount_Collected   R-squared:                       0.054
Model:                            OLS   Adj. R-squared:                  0.046
Method:                 Least Squares   F-statistic:                     6.829
Date:                Fri, 14 Oct 2022   Prob (F-statistic):           6.63e-08
Time:                        08:18:29   Log-Likelihood:                -14125.
No. Observations:                 840   AIC:                         2.827e+04
Df Residuals:                     832   BIC:                         2.830e+04
Df Model:                           7
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept        8.789e+05   2.07e+05      4.252      0.000    4.73e+05    1.28e+06
Campaign_Email      1.8882      1.344      1.405      0.160      -0.750       4.526
Campaign_Flyer      0.0753      0.268      0.281      0.778      -0.450       0.600
Campaign_Phone   1.415e-06   3.33e-07      4.252      0.000    7.62e-07    2.07e-06
Sales_Contact_1    -0.9764      1.655     -0.590      0.555      -4.224       2.271
Sales_Contact_2     0.8101      0.130      6.218      0.000       0.554       1.066
Sales_Contact_3     0.3277      0.198      1.656      0.098      -0.061       0.716
Sales_Contact_4     0.4837      4.427      0.109      0.913      -8.206       9.173
Sales_Contact_5    -2.6243      7.996     -0.328      0.743     -18.319      13.070
==============================================================================
Omnibus:                      985.034   Durbin-Watson:                   1.006
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            97146.151
Skew:                           5.770   Prob(JB):                         0.00
Kurtosis:                      54.405   Cond. No.                     9.24e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.36e-19. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
Private Facility
                            OLS Regression Results
==============================================================================
Dep. Variable:       Amount_Collected   R-squared:                       0.346
Model:                            OLS   Adj. R-squared:                  0.326
Method:                 Least Squares   F-statistic:                     16.88
Date:                Fri, 14 Oct 2022   Prob (F-statistic):           4.63e-20
Time:                        08:18:29   Log-Likelihood:                -4650.8
No. Observations:                 264   AIC:                             9320.
Df Residuals:                     255   BIC:                             9352.
Df Model:                           8
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept        4.439e+05    8.3e+05      0.535      0.593   -1.19e+06    2.08e+06
Campaign_Email      6.6806     17.292      0.386      0.700     -27.374      40.735
Campaign_Flyer      1.6661      1.125      1.482      0.140      -0.548       3.881
Campaign_Phone      7.8827     10.196      0.773      0.440     -12.197      27.962
Sales_Contact_1   -88.9282     47.497     -1.872      0.062    -182.465       4.608
Sales_Contact_2     6.6223      0.718      9.220      0.000       5.208       8.037
Sales_Contact_3    -0.7264      0.893     -0.814      0.417      -2.485       1.032
Sales_Contact_4    19.4954     19.966      0.976      0.330     -19.824      58.815
Sales_Contact_5    21.7693     13.600      1.601      0.111      -5.013      48.552
==============================================================================
Omnibus:                      274.961   Durbin-Watson:                   1.110
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             9920.407
Skew:                           4.276   Prob(JB):                         0.00
Kurtosis:                      31.788   Cond. No.                     1.79e+06
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.79e+06. This might indicate that there are
strong multicollinearity or other numerical problems.

In [16]:
consolidated_summary = pd.DataFrame()
for acctype in list(set(list(df['Client_Type']))):
    print(acctype)
    temp_df = df[df['Client_Type'] == acctype].copy()
    results = smf.ols('Amount_Collected ~ Campaign_Email+Campaign_Flyer+Campaign_Phone+\
       Sales_Contact_1 + Sales_Contact_2 + Sales_Contact_3+Sales_Contact_4 + Sales_Contact_5', data=temp_df).fit()
    df1 = pd.read_html(results.summary().tables[1].as_html(), header = 0, index_col = 0)[0].reset_index()
    df1=df1[df1['P>|t|']<0.05][['index','coef']]
    df1.columns=['Variable','Coefficent (Impact)']
    df1['Account Type']=acctype
    df1=df1.sort_values('Coefficent (Impact)',ascending=False)
    df1=df1[df1['Variable']!='Intercept']
    consolidated_summary=consolidated_summary.append(df1)
    print(df1)

Large Facility
          Variable  Coefficent (Impact)     Account Type
4  Sales_Contact_1              11.6731  Large Facility
7  Sales_Contact_4              10.6145  Large Facility
5  Sales_Contact_2               4.0031  Large Facility
2   Campaign_Flyer               2.7204  Large Facility
6  Sales_Contact_3               2.0316  Large Facility
3   Campaign_Phone              -3.5361  Large Facility
Medium Facility
          Variable  Coefficent (Impact)     Account Type
2   Campaign_Flyer               4.1059  Medium Facility
5  Sales_Contact_2               3.5778  Medium Facility
4  Sales_Contact_1               3.1365  Medium Facility
6  Sales_Contact_3               2.1174  Medium Facility
Small Facility
          Variable  Coefficent (Impact)     Account Type
5  Sales_Contact_2             0.810100  Small Facility
3   Campaign_Phone             0.000001  Small Facility
Private Facility
          Variable  Coefficent (Impact)      Account Type
5  Sales_Contact_2               6.6223  Private Facility

# 5. Final Recommendations

Using the below table we can use the coefficent to see how much return we can derive from each dollar we spend, here we can clearly see that for different account type different Campaigns and Different Sales Contact are effective with different extend.

<b>Case Explanation - Medium Facility</b> <br>
For Example Medium Facility shows decent results with Flyer Campiagns and each dollar spend return 4 dollars on average. Sales Contact 2 is highly effective followed by Sales Contact 1 and Sales Contact 3. Else all other strategy shows no impact can be dropped to save cost.

In [ ]:
consolidated_summary.columns = ['Variable','Return on Investment','Account Type']
consolidated_summary['Return on Investment']= consolidated_summary['Return on Investment'].apply(lambda x: round(x,1))
consolidated_summary.style.background_gradient(cmap='RdYlGn')
def format(x):
        return "${:.1f}".format(x)
consolidated_summary['Return on Investment']  = consolidated_summary['Return on Investment'].apply(format)
consolidated_summary.columns = ['Variable','Return on Investment','Account Type']
consolidated_summary